body {
    padding: 0;
    margin: 0;
    position: relative;
    background-color: rgb(46, 46, 46);
    font-family: 'Moju';
}
.head {
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    z-index: 100;
}
.wrap {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 


}
.container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    height: 80px; 

}
.item {
    margin: 10px;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: row;
    width: 100%;  
    text-align: center;
    justify-content: center;
    height: 100%;
    padding-inline-start: 0;

}

.l-item {
    text-decoration: none;
    height: 35px;
    line-height: 35px;
    width: 150px;
    color: rgb(210, 252, 255);
    font-size: 20px;
    text-shadow: 0 0 2px #fff, 0 0 2px #fff,  0 0 7px aqua, 0 0 8px aqua;

}

li {
    list-style-type: none;
    font-weight: 400;
    text-transform: uppercase;
    margin: 18px;
    padding: 0px 8px;
}
/* Đống này sau này sẽ xóa */
.logo {
    background-color: white;
}
.logo {
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}
#social a{
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-right: 5px;
    width: auto;
    height: auto;
    text-decoration: none;
}
#social {
    width: 161px;
    margin: 0;
}
.background {
    width: 100%;
    min-height: 545px;
    padding-left: 15px;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;;
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 6px;
    text-align: center;
    margin: 0;
}

/* animation navbar */
nav ul li a::before,
nav ul li a::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(169, 255, 255);
  transform: translateY(50%) scaleX(0);
  transform-origin: center;
  transition: all 0.5s;
}

nav ul li a:hover{
  color: rgb(0, 0, 0);
}

nav ul li a:hover::before{
  transform: translateY(50%) scaleX(1);
}

nav ul li a:hover::after{
  transform: translateY(50%) scaleX(1);
}

nav{
    width: 100%;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: center; 
    background-color: transparent;
  }
  
  nav ul{
    list-style: none;
    display: flex;
    padding: 0; 
    margin: 0; 
    position: relative; 
    max-width: 800px;
  }
  
  nav ul li a{
    text-decoration: none;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 20px; 
    position: relative; 
  }


  nav ul li a{
    transition: all 0.5s;
    }

/* end animation navbar */



.in img, .in2 img, .in3 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid rgb(236, 29, 37);
    object-fit:cover;
    transform: scale(1);
    z-index: 3;
    position:relative;
    transition: all 0.5s ease-in-out;
    transition-delay: -0.15s;
    margin: -50px 0;
    position: absolute;
}
.img1, .img2, .img3 {
    display: flex;
    justify-content: center;

}
.in img:hover, .in2 img:hover, .in3 img:hover {
    border:none;
    transform: scale(1.2);
    border-radius: 50%;
}

.in .t1, .in2 .t1, .in3 .t1 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    z-index: 2;
    position:relative;
}

.in .t2, .in2 .t2, .in3 .t2 {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    margin-top: -20px;
    font-family: 'Courier New', Courier, monospace;
}

.in .t3, .in2 .t3, .in3 .t3 {
    max-width: 380px;
    word-break: break-word;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    margin: -5% 5%;
    padding: 10px 5%;
    display: flex;
    font-family:'Courier New', Courier, monospace;
}

.in a, .in2 a, .in3 a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    word-break: keep-all;
    font-size: 14px;
    margin-left: 65%;
    margin-top: -5%;
    padding: 2%;
    transition:all 0.5s;
    transform: scale(1);
    display:flex;

}
.in a:hover,.in2 a:hover, .in3 a:hover {
    transform: scale(1.15);
    color: red;
}


.in, .in2, .in3 {
   min-width: 400px;
   min-height: 300px;
   border: 2px solid rgb(154, 154, 154);
   background-color: white;
   border-radius: 15px;
   margin-left: 25px;
}

.tl {
    display: flex;
    justify-content: center;
    padding-top: 190px; 
    row-gap: 20px;
    width: 100%;

}
/* Thêm font */
@font-face {
    font-family: Moju;
    src: url(DFVNMojuLight.otf) ;
}

@font-face {
    font-family: Aquire;
    src: url(Aquire-BW0ox.otf);
}
@font-face {
    font-family: Aquire;
    src: url(AquireBold-8Ma60.otf);
    font-weight: bold;
}
@font-face {
    font-family: ElectroBox;
    src: url(eElectroBox.ttf);
}


