body {
    padding: 0;
    margin: 0;
    position: relative;
    background-color: rgb(46, 46, 46);
    font-family: 'Moju';
}
.head {
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: black;
}
.wrap {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    background-color: black;
}
.container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    height: 80px; 

}
.item {
    margin: 10px;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: row;
    width: 100%;  
    text-align: center;
    justify-content: center;
    height: 100%;
    padding-inline-start: 0;

}

.l-item {
    text-decoration: none;
    height: 35px;
    line-height: 35px;
    width: 150px;
    color: rgb(210, 252, 255);
    font-size: 20px;
    text-shadow: 0 0 2px #fff, 0 0 2px #fff,  0 0 8px aqua, 0 0 9px aqua;

}

li {
    list-style-type: none;
    font-weight: 400;
    text-transform: uppercase;
    margin: 18px;
    padding: 0px 8px;
}

/* Đống này sau này sẽ xóa */
.logo {
    background-color: white;
}
.logo {
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}
#social a{
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-right: 5px;
    width: auto;
    height: auto;
    text-decoration: none;
}
#social {
    width: 161px;
    margin: 0;
}
.background {
    width: 100%;
    min-height: 545px;
    padding-left: 15px;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;;
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 6px;
    text-align: center;
    margin: 0;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #fff;
    width: 100%
}
/* animation navbar */
nav ul li a::before,
nav ul li a::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(169, 255, 255);
  transform: translateY(50%) scaleX(0);
  transform-origin: center;
  transition: all 0.5s;
}

nav ul li a:hover{
  color: rgb(0, 0, 0);
}

nav ul li a:hover::before{
  transform: translateY(50%) scaleX(1);
}

nav ul li a:hover::after{
  transform: translateY(50%) scaleX(1);
}

nav{
    width: 100%;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: center; 
    background-color: transparent;
  }
  
  nav ul{
    list-style: none;
    display: flex;
    padding: 0; 
    margin: 0; 
    position: relative; 
    max-width: 800px;
  }
  
  nav ul li a{
    text-decoration: none;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 20px; 
    position: relative; 
  }


  nav ul li a{
    transition: all 0.5s;
    }

/* end animation navbar */

/* Thêm font */
@font-face {
    font-family: Moju;
    src: url(DFVNMojuLight.otf) ;
}

@font-face {
    font-family: Aquire;
    src: url(Aquire-BW0ox.otf);
}
@font-face {
    font-family: ElectroBox;
    src: url(eElectroBox.ttf);
}

/* Tài Liệu */
.files section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    box-sizing: border-box;
    border-radius: 5px;
    width: 300px;
    height: 240px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    color: white;
    text-align: center;
    padding: 150px 0 0;
}
.image-container:hover {
    border: 2px solid white;
}
.files h3 {
    margin: 40px auto;
    text-decoration: underline;
}
.image-container:nth-child(2) { 
    background-image: url('../ADVANCED KAT/MINECRAFT.jpg'); /* Ảnh để tạm, tại không có mạng */
}
.image-container:nth-child(3) { 
    background-image: url('../ADVANCED KAT/MINECRAFT.jpg');
}
.image-container:nth-child(4) { 
    background-image: url('../ADVANCED KAT/MINECRAFT.jpg');
}
.divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 100px;
}

/* Chỉnh sửa sidebar */
.sidebar-open {
    box-sizing: border-box;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 5px;    
}
#sidebar {
    display: block;
    position: fixed; 
    left: 0px;
    top: 0;
    margin-left: -300px;
    width: 300px;
    height: 100%;
    background-color: #2C333A;
    text-align: center;  
    z-index: 100;  
}
#sidebar a {
    display: block;
    padding-top: 20px;    
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
}
#sidebar a:hover {
    background-color: #ffffff3a;
}
.sidebar-open {
    position: fixed;
    bottom: 40px;
    left: 40px;
    font-size: 25px;
    background-color: #2C333A;
    color: white;
    z-index: 0;
}

#sidebar {
    transition: all 1s;
}
#sidebar ::before,
#sidebar ::after{
    content: "";
    transform: translateY(50%) scaleX(0);
    transform-origin: center;
    transition: all 1s;
    transition-timing-function: ease-in;
}
.sidebar-close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: 0;
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
.sidebar-content {
    display: flex;
}
.sidebar-head {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
}
/* end chỉnh sửa sidebar */

/* Thông tin liên hệ */
/*bắt đầu từ đây là contactbox*/
#cont {
    position: relative;
}
.Contact{
    background-color: rgb(0, 0, 0);
    color: red;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    justify-content: space-between;
}
.Contact > img{
    height: 70px;
    width: auto;
    max-width: fit-content;
} 
.Title{
    display: inline-block;
    vertical-align: top;
    font-size: 35px;
    width: 250px;
    margin: 0 -4px 0 0;
    padding: 0;
    text-align: center;
}
.social-icons{
    display: inline-block;
    color: inherit;
    fill: #000000;
}
.contactsources2 div {
    padding-bottom: 5px;
}

.social-icons a i{
    margin: 0;
}


.logo{
    display: flex;
    border: 0px;
    margin: 0;
    color: inherit;
    text-decoration: none;
    padding: 0;
}
.txt-follow{
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;

    color: rgb(255, 255, 255);
    font-size: 20px;
}
.fab{
    margin: 10px;
}
.contactbox {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 120%;
    width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
    position: relative;
}
  /*how to use grid*/
.contactinfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 25px;

}
.contactsources{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
    row-gap: 10px;
    font-size: 20px;
}
.contactsources > div{
    margin-left: 30px;
}
.contactsources2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 120px;
    color: white;
}
 
.contactsources3{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 317px;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* end contact box */

/* Chỉnh sửa menubar */
#menubar {
    display: block;
    position: fixed; 
    right: 0px;
    top: 0;
    margin-right: -300px;
    width: 300px;
    height: 100%;
    background-color: #2C333A;
    text-align: center;  
    z-index: 100;  
}
#menubar a {
    display: block;
    padding-top: 20px;    
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
}
#menubar a:hover {
    background-color: #ffffff3a;
}
.menubar-open {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 25px;
    background-color: #2C333A;
    color: white;
    z-index: 0;
    height: 35px;
    width: 45px;
    border: 2px solid black;
    border-radius: 5px;
}
.menuicon {
    width: 23px;
    height: 3px;
    margin: 4px auto;
    background-color:rgb(255, 255, 255) ;
}

#menubar {
    transition: all 1s;
}
#menubar ::before,
#menubar ::after{
    content: "";
    transform: translateY(50%) scaleX(0);
    transform-origin: center;
    transition: all 1s;
    transition-timing-function: ease-in;
}
.menubar-close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: 0;
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
.menubar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}
.menubar-head {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
}
/* end chỉnh sửa menubar */

@media screen and (min-width: 992px){
    .menubar-open{
        display: none;
    }
  }
  @media screen and (max-width: 992px) {
    .Contact{
        flex-wrap: wrap;
    }
}
/* end menubar */

@media screen and (max-width: 992px){
    .navbar{
        display: none;
    }
  }
@media (max-width: 1200px){
    .container{
    padding: 0;
    }
    .logo {
        margin-left: 20px;
    }
}