body {
    padding: 0;
    margin: 0;
    font-family: 'Moju';
    background-color: #F1D1D1;
}
.head {
    position: absolute;
    width: 100%;
    height: 120px;
    margin-bottom: 10%;
    top: 0;
    left: 0;
    z-index: 100;
}
.wrap {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.item {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: row;
    width: 100%;
    margin-inline-end: auto;
    margin-inline-start: auto;    
    text-align: center;
    justify-content: center;
    height: 100%;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    height: 35px;
    line-height: 35px;
    width: 150px;
    background-color: gray;
    color: black;
    font-size: 20px;
}
li {
    list-style-type: none;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px 10px;
}
.logo {
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}
.social {
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}
.background {
    width: 100%;
    min-height: 545px;
    padding-left: 15px;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;;
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 6px;
    text-align: center;
    margin: 0;
}
@media screen and (max-width: 992px){
    .navbar{
        display: none;
    }
}
@media (max-width: 1200px){
    .container{
    padding: 0;
    }
}
.later_achieve {
    background-color: aquamarine;
    max-inline-size: 100%;
    padding-top: 0;
    margin-top: 0;
    width: 100%;
}
.later_achieve h1 {
    position: relative;
    margin: auto 20% 3% 30%;
}
.achieve {
    background-color: aquamarine;
    max-inline-size: 100%;
    margin-top: 10rem;
    width: 100%;
}
.achieve h1 {
    position: relative;
    margin: 2% 20% 3% 30%;
}
.noidung {
    flex: content;
    display:inline-flex;
}
.myimg {
    max-width: 25%;
    max-height: 25%;
    border-radius: 10%;
    margin: auto 10% 5% 10%;
}

@font-face {
    font-family: Moju;
    src: url(DFVNMojuLight.otf) ;
}